@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  background-color: whitesmoke;
}
/* ... */
/* menu-icons */
nav {
  position: relative;
  padding: 10px;
}

.menu-toggle {
  display: none;
}

.menu-icon {
  font-size: 30px;
  color: black;
  cursor: pointer;
  padding: 10px;
  display: block;
  text-align: center;
  display: none;
  position: absolute;
  right: 20px;
}

/* menu-icons-end */

/* Button-section */
.btn {
  color: white;
  border-radius: 8px;
  font-size: 1rem;
  padding: 10px 35px;
  border: none;
}
.nav-btn {
  background-color: #fea301;
}
.banner-btn {
  background-color: black;
}
.view-btn {
  background-color: black;
}
/* header-section */
.header,
.main {
  max-width: 1300px;
  margin: 20px auto;
}
/* nav-section */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* logo-section */
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
/* nav-bar-manu-section */
ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
ul li {
  list-style: none;
  margin-right: 3rem;
}
ul li a {
  text-decoration: none;
  color: #fea301;
}
/* navbar-manu-color */
.about {
  color: black;
  font-weight: 600;
}
.facilities {
  color: #01acfd;
  font-weight: 600;
}
.admission {
  color: #5d58ef;
  font-weight: 600;
}
/* Nav-bar-manu-btn */
.nav-menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Banner-section */
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left-banner {
  width: 640px;
}
.banner-text {
  font-size: 3.5rem;
}
/* banner-text-color */
.banner-text-color-one {
  color: #fea301;
}
.banner-text-color-two {
  color: #01acfd;
}
/* banner-description */
.banner-des {
  font-family: 1.25rem;
}
.banner-img {
  width: 460px;
}
/* curriculum-section */
.curriculum-section {
  text-align: center;
  background-image: url(/assets/bg.png);
  background-size: contain;
  background-repeat: repeat;
  padding: 5% 0;
}
.curriculum-section-title {
  margin-bottom: 5%;
}
/* card-section */
.curriculum-section .card {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5%;
  gap: 20px;
}
.curriculum-section .card p {
  line-height: 30px;
}
.card-design {
  width: 400px;
  background-color: white;
  box-shadow: 20px;
  border-radius: 10px;
  padding: 3%;
}
.curriculum-section .card-one {
  height: 481.5px;
  width: 367.8px;
  background-image: linear-gradient(180deg, #def5ff, #ffffff);
}
.curriculum-section .card-two {
  height: 481.5px;
  width: 367.8px;
  background-image: linear-gradient(180deg, #fff4dc, #ffffff);
}
.curriculum-section .card-three {
  /* box-shadow: inset 0px 20px 0px #fff4dc; */
  height: 481.5px;
  width: 367.8px;
  background-image: linear-gradient(180deg, #f2e8ff, #ffffff);
}
.curriculum-section .card-text {
  font-size: 1.5rem;
}
.card-one a,
.card-two a,
.card-three a {
  font-weight: bold;
  text-decoration: none;
}
.curriculum-section .card-one a {
  color: #01acfd;
}
.curriculum-section .card-two a {
  color: #fea301;
}
.curriculum-section .card-three a {
  color: #5d58ef;
}
/*  */
.arrow-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.icon-border {
  /* border: 1px solid; */
  padding: 8px;
  border-radius: 100%;
  background-color: #fea301;
}
/* Our-Stories-Section */
.stories {
  background-image: url(/assets/bg.png);
  background-size: contain;
}
.stories {
  padding: 5% 0;
}
.stories h1 {
  text-align: center;
  margin-bottom: 3%;
}
.stories-card-a {
  display: flex;
  gap: 20px;
}
.stories-card-left {
  background-color: white;
  border-radius: 20px;
  padding: 100px 100px 100px 100px;
}
.stories-card-left img {
  width: 540px;
  height: 330px;
}
.stories-card-left time {
  background-color: #05d4df;
  color: white;
  padding: 3% 5%;
  border-radius: 30px;
  position: relative;
  top: -40px;
}
.stories-card-left img,
.stories-card-right img {
  width: 100%;
  border-radius: 15px 15px 0px 0px;
}
.stories-card-left-info h3 {
  font-size: 1.5rem;
}
.stories-card-left-info p {
  margin-top: 3rem;
  font-size: 20px;
}
.stories-card-left-info,
.stories-card-right-info {
  padding: 5%;
}
.stories-card-b {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-around;
  align-items: center;
  gap: 15px;
}
.stories-card-right {
  border-radius: 15px;
  background-color: white;
}
.stories-card-b time {
  background-color: #95b226;
  color: white;
  padding: 3% 5%;
  border-radius: 30px;
  margin-left: 5px;
  position: relative;
  top: -35px;
}
.stories-card-b .time-color {
  background-color: #5d58ef;
}
/* View-Button */
.view-btn-section {
  text-align: center;
}
/* footer-section */
footer {
  background-color: #01acfd;
  padding: 5% 0;
  margin-top: 3%;
}

footer section {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1300px;
}

footer section .logo-text-img,
footer section .about-school,
footer section .social-icons {
  flex-basis: 25%;
}

footer section .logo-text-img img {
  position: relative;
  right: 10px;
  bottom: 10px;
}

footer section .logo-text-img h3 {
  font-size: 2.3rem;
  color: white;
  display: inline-block;
  margin-bottom: 0;
  position: relative;
  bottom: 20px;
}

footer section .logo-text-img p {
  font-size: 20px;
  color: white;
}

footer section .about-school h3,
footer section .social-icons h3 {
  font-size: 1.5rem;
  color: white;
  text-align: center;
}

footer section .about-school a {
  display: block;
  color: white;
  text-decoration: none;
  margin-bottom: 10%;
  font-size: 1.1rem;
  text-align: center;
}

footer section .social-icons {
  flex-basis: 25%;
  text-align: center;
}

footer section .social-icons h3 {
  font-size: 1.5rem;
  color: white;
  text-align: center;
  margin-bottom: 15px;
}

footer section .social-icons .social-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
}

footer section .social-icons .social-icons a {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 18px;
}

/* responsive-section-mobile-design */
@media screen and (max-width: 576px) {
  .header,
  .main {
    max-width: none;
    width: 100%;
  }
  /* menu-icons */
  .menu-icon {
    width: 5px;
    font-size: 40px;
    color: black;
    cursor: pointer;
    padding: 18px;
    display: block;
    display: flex;
    text-align: center;
    justify-content: center;
    position: absolute;
    right: 20px;
  }
  nav {
    border-bottom: 1px solid #fea301;
    padding: 2% 5%;
  }
  /* contact-button-hide */
  nav .nav-btn,
  .logo-title,
  nav ul {
    display: none;
  }
  /* banner-section */
  .banner {
    flex-direction: column-reverse;
  }
  .left-banner,
  .card-design {
    text-align: center;
    width: 85%;
  }
  .banner-img {
    width: 90%;
    margin: 0 auto;
    display: block;
  }
  .banner-text,
  .curriculum-section-title h1 {
    font-size: 20px;
  }
  /* card-section */
  .curriculum-section .card {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }
  .curriculum-section .card-t {
    font-size: 1rem;
  }
  .curriculum-section .card p {
    font-size: 14px;
  }
  .arrow-icon {
    display: none;
  }
  .curriculum-section .card-design img {
    margin-top: 5%;
  }

  /* stories-section */
  .stories .stories-card-left {
    display: none;
  }
  .stories {
    width: 90%;
    margin: 0 auto;
  }
  .stories .stories-card-left-info h3 {
    font-size: 12px;
  }
  .stories time {
    top: -25px;
  }

  /* footer */
  footer section {
    flex-direction: column;
    width: 90%;
  }
  footer section .logo-text-img h3 {
    font-size: 1.8rem;
  }
  footer section .logo-text-img img {
    width: 25%;
    position: relative;
    right: 15px;
    top: 10px;
    bottom: 12px;
  }

  footer section .about-school h3,
  footer section .social-icons h3 {
    font-size: 1rem;
    text-align: left;
  }

  footer section .logo-text-img h3 {
    bottom: 0;
  }
  footer section .logo-text-img p,
  footer section .about-school a,
  footer section .social-icons a {
    font-size: 16px;
    margin-bottom: 5%;
    text-align: left;
  }
  footer section .social-icons {
    flex-basis: 25%;
    text-align: left;
  }
}
/* All-Section-Done */
/* Prattay-Saha */
