@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  background-color: whitesmoke;
}
/* ... */
/* menu-icons */
nav {
  position: relative;
  padding: 10px;
}

.menu-toggle {
  display: none;
}

.menu-icon {
  font-size: 30px;
  color: black;
  cursor: pointer;
  padding: 10px;
  display: block;
  text-align: center;
  display: none;
  position: absolute;
  right: 20px;
}

/* menu-icons-end */

/* Button-section */
.btn {
  color: white;
  border-radius: 8px;
  font-size: 1rem;
  padding: 10px 35px;
  border: none;
}
.nav-btn {
  background-color: #fea301;
}
.banner-btn {
  background-color: black;
}
.view-btn {
  background-color: black;
}
/* header-section */
.header,
.main {
  max-width: 1300px;
  margin: 20px auto;
}
/* nav-section */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* logo-section */
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
/* nav-bar-manu-section */
ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
ul li {
  list-style: none;
  margin-right: 3rem;
}
ul li a {
  text-decoration: none;
  color: #fea301;
}
/* navbar-manu-color */
.about {
  color: black;
  font-weight: 600;
}
.facilities {
  color: #01acfd;
  font-weight: 600;
}
.admission {
  color: #5d58ef;
  font-weight: 600;
}
/* Nav-bar-manu-btn */
.nav-menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Banner-section */
.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left-banner {
  width: 640px;
}
.banner-text {
  font-size: 3.5rem;
}
/* banner-text-color */
.banner-text-color-one {
  color: #fea301;
}
.banner-text-color-two {
  color: #01acfd;
}
/* banner-description */
.banner-des {
  font-family: 1.25rem;
}
.banner-img {
  width: 460px;
}
/* curriculum-section */
.curriculum-section {
  text-align: center;
  background-image: url(/assets/bg.png);
  background-size: contain;
  background-repeat: repeat;
  padding: 5% 0;
}
.curriculum-section-title {
  margin-bottom: 5%;
}
/* card-section */
.standard-curriculum-container {
  width: 100%;
  height: 879px;
  background-image: url(/assets/bg.png);
}

.standard-curriculum {
  font-size: 46px;
  font-weight: bold;
  font-family: "Quicksand" sans-serif;
  color: black;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 80px;
  margin: 0;
}

.cards-container {
  width: 1160px;
  height: 481px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 28px;
}

.sc-card-1 {
  width: 367.8px;
  height: 446.78px;
  border-radius: 18px;
  background-color: #def5ff;
  background-image: linear-gradient(180deg, #def5ff, white);
}

.sc-card-2 {
  width: 367.8px;
  height: 446.78px;
  background-color: #fff4dc;
  border-radius: 18px;
  background-image: linear-gradient(180deg, #fff4dc, white);
}

.sc-card-3 {
  width: 367.8px;
  height: 446.78px;
  background-color: #f2e8ff;
  border-radius: 18px;
  background-image: linear-gradient(180deg, #f2e8ff, white);
}

.sc-card-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 32px;
}

.sc-card-title {
  text-align: center;
  font-family: "Quicksand" sans-serif;
  font-weight: bold;
  font-size: 24px;
}

.sc-card-subtitle {
  text-align: center;
  font-family: "Quicksand" sans-serif;
  font-weight: 500;
  font-size: 15px;
  padding: 0 40px;
}

.kinder-read-more {
  text-decoration: none;
  text-align: center;
  display: block;
  color: #64c8ff;
  font-family: "Quicksand" sans-serif;
  font-weight: bold;
  font-size: 15px;
}

.elementary-read-more {
  text-decoration: none;
  text-align: center;
  display: block;
  color: #f0aa00;
  font-family: "Quicksand" sans-serif;
  font-weight: bold;
  font-size: 15px;
}

.middle-read-more {
  text-decoration: none;
  text-align: center;
  display: block;
  color: #8700ff;
  font-family: "Quicksand" sans-serif;
  font-weight: bold;
  font-size: 15px;
}
/*  */
.arrow-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.icon-border {
  /* border: 1px solid; */
  padding: 8px;
  border-radius: 100%;
  background-color: #fea301;
}
/* Our-Stories-Section */
.our-stories-container {
  width: 100%;
  height: 1018px;
  background-image: linear-gradient(
      to top,
      rgba(254, 163, 1, 0.3) 30%,
      rgba(254, 163, 1, 0) 100%
    ),
    url("/assets/bg.png");
}

.our-stories {
  font-size: 46px;
  font-weight: bold;
  color: black;
  text-align: center;
  padding-top: 60px;
  padding-bottom: 80px;
  margin: 0;
}

.our-stories-cards-container {
  width: 1160px;
  height: 630px;
  margin: auto;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.flex-item1,
.flex-item2 {
  width: 50%;
  height: auto;
}

.flex-item1 {
  background: white;
  height: 630px;
  border-radius: 16px;
  position: relative;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
}

.grid-item1,
.grid-item2,
.grid-item3,
.grid-item4 {
  background: white;
  width: 290px;
  height: 300px;
  border-radius: 16px;
  position: relative;
}

.story-image {
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  margin-bottom: 38px;
}

.story-image-one {
  width: 100%;
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  margin-bottom: 38px;
}

.date-card-one {
  background-color: #95b226;
  border-radius: 47px;
  width: 174px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 15px;
  font-weight: 500;
  position: absolute;
  top: 157px;
  z-index: 10;
  left: 38px;
}

.date-card-two {
  background-color: #5d58f0;
  border-radius: 47px;
  width: 174px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 15px;
  font-weight: 500;
  position: absolute;
  top: 157px;
  z-index: 10;
  left: 38px;
}

.date-card-three {
  background-color: #3cd8e8;
  border-radius: 47px;
  width: 174px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 15px;
  font-weight: 500;
  position: absolute;
  top: 330px;
  z-index: 10;
  left: 38px;
}

.story-title-one {
  font-size: 24px;
  font-weight: bold;
  text-align: start;
  margin-top: 0;
}

.story-card-one-content {
  padding: 38px;
}

.story-title {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-top: 0;
}

.story-card-one-description {
  font-size: 15px;
  font-weight: 500;
}

.view-all-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.view-all-btn {
  background-color: black;
  color: white;
  border: none;
  width: 197px;
  height: 50px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600;
  margin-top: 80px;
}

/* footer-section */
footer {
  background-color: #01acfd;
}

footer section {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1300px;
}

footer section .logo-text-img,
footer section .about-school,
footer section .social-icons {
  flex-basis: 25%;
}

footer section .logo-text-img img {
  position: relative;
  right: 10px;
  bottom: 10px;
}
.kids-education {
  font-size: 42px;
}

footer section .logo-text-img h3 {
  color: white;
  display: inline-block;
  margin-bottom: 0;
  position: relative;
  bottom: 20px;
}

footer section .logo-text-img p {
  font-size: 20px;
  color: white;
}

footer section .about-school h3,
footer section .social-icons h3 {
  font-size: 1.5rem;
  color: white;
  text-align: center;
}

footer section .about-school a {
  display: block;
  color: white;
  text-decoration: none;
  margin-bottom: 10%;
  font-size: 1.1rem;
  text-align: center;
}

footer section .social-icons {
  flex-basis: 25%;
  text-align: center;
}

footer section .social-icons h3 {
  font-size: 1.5rem;
  color: white;
  text-align: center;
  margin-bottom: 15px;
}

footer section .social-icons .social-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
}

footer section .social-icons .social-icons a {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 18px;
}

/* responsive-section-mobile-design */
@media screen and (max-width: 576px) {
  .header,
  .main {
    max-width: none;
    width: 100%;
  }
  /* menu-icons */
  .menu-icon {
    width: 5px;
    font-size: 40px;
    color: black;
    cursor: pointer;
    padding: 18px;
    display: block;
    display: flex;
    text-align: center;
    justify-content: center;
    position: absolute;
    right: 20px;
  }
  nav {
    border-bottom: 1px solid #fea301;
    padding: 2% 5%;
  }
  /* contact-button-hide */
  nav .nav-btn,
  .logo-title,
  nav ul {
    display: none;
  }
  /* banner-section */
  .banner {
    flex-direction: column-reverse;
  }
  .left-banner,
  .card-design {
    text-align: center;
    width: 85%;
  }
  .banner-img {
    width: 90%;
    margin: 0 auto;
    display: block;
  }
  .banner-text,
  .curriculum-section-title h1 {
    font-size: 20px;
  }
  /* card-section */
  .standard-curriculum-container {
    width: 100%;
    height: 100%;
  }

  .cards-container {
    width: 100%;
    height: 100%;
    display: block;
    gap: 0;
  }

  .sc-card-1,
  .sc-card-2,
  .sc-card-3 {
    width: 100%;
  }

  .standard-curriculum {
    font-size: 26px;
    font-weight: bold;
    font-family: "Quicksand" sans-serif;
    color: black;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
    margin: 0;
  }

  /* stories-section */
  .our-stories-container {
    width: auto;
    height: auto;
    padding: 16px;
  }

  .our-stories-cards-container {
    width: 100%;
    height: 100%;
    padding: 40px auto;
  }

  .flex-item1 {
    display: none;
  }

  .grid-container {
    gap: 11px;
  }

  .grid-item1,
  .grid-item2,
  .grid-item3,
  .grid-item4 {
    background: white;
    width: 173px;
    height: 180px;
  }

  .story-image {
    width: 173px;
    height: 105px;
  }

  .date-card-one {
    width: 103px;
    height: 22px;
    font-size: 9px;
    top: 99px;
  }

  .date-card-two {
    width: 103px;
    height: 22px;
    font-size: 9px;
    top: 99px;
  }

  .story-title {
    font-size: 9px;
  }

  .our-stories {
    font-size: 26px;
    font-weight: bold;
    color: black;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
    margin: 0;
  }

  .view-all-btn {
    margin-top: 20px;
    margin-bottom: 40px;
  }

  /* footer */
  footer section {
    flex-direction: column;
    width: 90%;
  }
  footer section .logo-text-img h3 {
    font-size: 1.8rem;
  }
  footer section .logo-text-img img {
    width: 25%;
    position: relative;
    right: 15px;
    top: 10px;
    bottom: 12px;
  }

  footer section .about-school h3,
  footer section .social-icons h3 {
    font-size: 1rem;
    text-align: left;
  }

  footer section .logo-text-img h3 {
    bottom: 0;
  }
  footer section .logo-text-img p,
  footer section .about-school a,
  footer section .social-icons a {
    font-size: 16px;
    margin-bottom: 5%;
    text-align: left;
  }
  footer section .social-icons {
    flex-basis: 25%;
    text-align: left;
  }
}
/* All-Section-Done */
/* Prattay-Saha */
